@model WP4.Models.Data.Donor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trial.TrialID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trial.TrialID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admission)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admission)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmittedToITU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmittedToITU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdmitedToITU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdmitedToITU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfProcurement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfProcurement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ethnicity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ethnicity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDataLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDataLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataLockedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataLockedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinalised)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinalised)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFinalisedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFinalisedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
