@model IEnumerable<WP4.Models.Data.Donor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trial.TrialID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmittedToITU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdmitedToITU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfProcurement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ethnicity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDataLocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLockedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFinalised)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFinalisedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trial.TrialID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmittedToITU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdmitedToITU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfProcurement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ethnicity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloodGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDataLocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataLockedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFinalised)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFinalisedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
